@charset "UTF-8";

/* Paleta de cores
    azul: #578AFA
    lilas: #C357FA
    roxo: #8C57FA
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom, #1b63ff, #d484fc, #bd52fc);
    background-attachment: fixed;
    
}

div#imagem > img {
    height: 50vh;
    width: 50vw;
}

div > h1 {
    text-align: center;
    padding: 10px;
}

div#formulario {
    background-color: white;
    width: 50vw;
    padding: 10px;
    margin: auto;
    border-radius: 10px 0px 0px 10px;
}
